body, html {
    margin: 0;
    padding: 0;
    background-color: lightgray;
    font-size: 100%;
}

div{
    background-color: lightskyblue;
    width: 100%;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 55px;
    border: 2px solid black;
    background-color: lightskyblue;
    flex-wrap: wrap;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    width: 100%;
    flex-wrap: wrap;
}

nav li{
    margin: 10px;
}

nav a{
    background-color: black;
    color: white;
    padding: 5px 15px;
    margin: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

nav a:hover, nav a:focus {
    background-color: #333;
}



.content{
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.content img{
    display: block;
    margin: auto;
    width: 90%;
}
.current-page {
    font-weight: bold;
    color: red;
}

body > a{
    position: absolute;
    left: -400px
}

body > a:focus{
    left: 85px;
}


.header-content-pets, .header-content-recipes, .header-content-travel{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-position: center;
}
.header-content-pets{
    background-image: url("../images/pets_background.jpg");
}
.header-content-recipes{
    background-image: url("../images/recipe_back.jpg");
}
.header-content-travel{
    background-image: url("../images/travel_back.jpg");
}

.pets, .recipes, .travel{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: 95%;
    justify-content: center;
    gap: 15px;
}

.pets img, .recipes img, .travel img, .recipes video, .travel video {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 20px solid black;
    margin: auto;
    width: 90%;
    box-sizing: border-box;
}


h1{
    animation: header 5s infinite;
}

h2{
    text-align: center;
    padding: 25px;
}

h3{
    text-align: center;
    padding: 25px;
}

.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.gallery img, .gallery video {
    box-sizing: border-box;
    border: 10px solid lightslategray;
    margin: auto;
    width: 90%;
    border-radius: 25px;
}

p{
    padding: 25px;
    line-height: 1.5;
}

@media screen and (prefers-reduced-motion: reduce){
    html{
        scroll-behavior: auto;
    }
    img.gif {
        display: none;
    }
    h1 {
        text-align: center;
        font-size: 50px;
        line-height: 1;
        margin-top: 16px;
        animation: none;
    }
}

@keyframes header {
    0% {
        color: maroon;
    }
    25% {
        color: darkblue;
    }
    50% {
        color: brown;
    }
    75% {
        color: black;
    }
    100% {
        color: maroon;
    }
}


@media only screen and (min-width: 600px) {
    nav {
        background-color: #4CAF50;
        border-color: #388E3C;
        padding-top: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    nav ul {
        flex-direction: column;
        padding: 10px;
    }
    nav li {
        display: block;
        margin: 10px 0;
    }
    nav a {
        background-color: #8BC34A;
        color: #FFF;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.5s, color 0.5s;
    }
    nav a:hover, nav a:focus {
        background-color: #66BB6A;
        color: #003300;
    }
}